body {
    font-family: 'Agdasima', sans-serif;
    font-size: 120%;
    background-color: #1A1A1D; /* Dark background color */
    color: #ffffff; /* Lightest color from the palette */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e5cc0; /* Red from the palette */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px #194ea3; /* Shadow using the specified color */
    margin-bottom: 80px;
}

#homeButton{
    margin-left: 40px;
}

* {
    box-sizing: border-box;
}

.highlight{
    font-family: 'Play';
    font-weight: bold;
    color:#77a8f6;
}


section {
    padding: 0px;
}

.container {
    max-width: 600px;
    margin: auto auto;
    background-color: #43474A; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px #43474A;
}


h2 {
    color: #F7F0D2; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffd667;
    box-shadow: 0 3px 0 #e0b02c;
    font-size: 80%;
    font-family: 'Tomorrow';
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 10px;
}
li:hover{
    box-shadow: 0 2px 0;
    background-color: #fccd4d;
    transform: translateY(1px);
}
li:active{
    box-shadow: none;
    transform: translateY(2px);
}


a {
    color: #000000;
    border: 0;
    padding: 5px;
    border-radius: 20px;
    font-family: "Tomorrow", sans-serif;
    text-decoration: none;
}
.specialButton {
    display: inline-block;
    background-color: #ffd667; 
    box-shadow: 0 5px 0 #e0b02c; 
    margin-right: 5px;
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    color: #000000;
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.specialButton:hover {
    box-shadow: 0 4px 0;
    background-color: #fccd4d;
    transform: translateY(1px);
}

.specialButton:active {
    background-color: #fbc42a;
    box-shadow: none;
    transform: translateY(4px);
}

.headerButton {
    display: inline-block;
    background-color: #67a1ff;
    box-shadow: 0 5px 0 #4b86e5; 
    margin-right: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.headerButton:hover{
    box-shadow: 0 4px 0;
    background-color: #5494fc;
    transform: translateY(1px);
}
.headerButton:active {
    box-shadow: none;
    transform: translateY(4px);
    background-color: #3984fb;

}



footer {
    background-color: #5A6268; 
    position: fixed; 
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#aFooter {
    font-size: 80%;
    color: #ffffff;
    font-family: 'Tomorrow';
    text-align: justify;
    text-align: center;

}

#aFooter:hover{
    font-weight: bold; 
}
